<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        name : {{name}} <br><br>
        username : {{username}}<br><br>
        password : {{password}}<br><br>
        email : {{email}}<br><br>
        <a href="http://127.0.0.1:8800/register/login">Login </a> 
    </body>
</html>